<%- include('userlayout.ejs'); %> 
<div class="container">
    <div class="row text-center">
            <h3  style="font-size: 70px; font-weight: bold;">COURSE</h3>
    </div>
    <div class="row p-3 justify-content-center  text-center">
        <div class="col-md-8">
            <form action="/courseReg" method="post">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3>Course Option</h3>
                    </div>
                    <div class="card-body">
                        <label for="course-list">Select the course :</label>
                        <select id="course-list" name="code">
                            <option value="0">Select One...</option>
                            <% courses.forEach( (courses)=>{ %>
                                <option id="opt" value="<%= courses.code %>"><%= courses.name %></option>
                            <% }); %> 
                        </select>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header bg-primary">
                        <h3>Course code</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                             <input type="text" value="" id="courseCode" disabled>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header bg-primary">
                        <h3>Course Duration</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                             <input type="text" value="" id="courseId" disabled>

                        </div>
                    </div>
                </div>
                <button type="submit" onclick="return userConfirm()" class="btn btn-warning btn-lg btn-block login-button"> Register </button>
            </form>
          
        </div>
    </div>
</div>
    <script>
        const courseOpt = document.getElementById("course-list");
        const courseCode = document.getElementById("courseCode");
        const courseId = document.getElementById("courseId");


        courseOpt.addEventListener("change", ()=> {
        if (courseOpt.value == "CS110") {
            courseCode.value = "CS110";
            courseId.value = "6";
        }else if(courseOpt.value == "BA230"){
            courseCode.value = "BA230";
            courseId.value = "4";
        }else if (courseOpt.value == "OM240") {
            courseCode.value = "OM240";
            courseId.value = "5";
        }else{
            courseCode.value = "";
            courseId.value = "";
        }
        })

    function userConfirm() {
      var x = confirm("Are you sure");
      if (x == true){
        return true;
      }else{
        return false;
      }
    }

    </script>
</body>

</html>