<%- include('userlayout.ejs'); %>
<div class="container">
    <div class="row text-center">
            <h3  style="font-size: 70px; font-weight: bold;">WELCOME</h3>
            <h3 style="font-size: 50px;" class="text-uppercase font-monoscope"><strong><span style="color: blue;">User</span> </strong></h3> &nbsp;
    </div>
</div>

</body>

</html>